<li id="event-<%= event.id %>">
  <span class="start_date"><%= event.start_date %></span>
  <span class="description"><%= event.description %></span>
  <span class="creator"><%= event.creator.name %></span>
</li>